
/* CSS do projeto em si daqui para baixo */
/* Estilizar o corpo da página */
body {
  /* Fonte do texto da página */
  font-family: Arial, Helvetica, sans-serif; 
  /* Cor de fundo da página */
  background-color: #f0f0f0;
  /* Cor dos texttos (letras) */
  color: #333;
  /* line-height é usado para definir a altura de linha em relação ao tamanho da fonte */
  line-height: 1,25; /* Definir a altura da linha */
  font-size: 16px; /* Definir tamanho da fonte das letras */
}

/* Como possuímos três divs container, essa serve para editarmos todas elas */
.container {
  /* max-width define a largura máxima que um elemento pode ter */
  max-width: 1280px; /* Definindo a largura máxima da div */
  /* margin: 0 auto; é usado para centralizar horizontalmente um elemento dentro de seu contêiner pai */
  margin: 0 auto; /* Centralizando horizontalmente um elemento pai */
}

/* Estilizando o cabeçalho */
header {
  background-color: #000000; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
}

/* Alinhar a tag <a> a direita no site, mas o cabeçalho todo sendo flexível*/
/* Estilizando o cabeçalho mas a div container do cabeçalho */
header .container {
  display: flex; /* Criar layout flexível */
  justify-content: space-between; /* Distribuir espaço entre os elementos de forma igual */
  align-items: center; /* Alinhar os itens no centro */
  padding: 21px 0; /* Colocando um padiding (preenchimento) em forma de plano (x, y) */
}

/* Estilizar o título */
header h1 {
  color: white;  /* Cor de texto para o título */
  background-color: red; /* Cor de fundo do título */
  font-style: italic; /* Colocando tipo de fonte para o texto do título */
  /* font-weight é usado para definir a espessura da fonte */
  font-weight: 600; /* Definindo a espessura da fonte do título */
  letter-spacing: -0.8px; /* Colocando espaço entre as letras */
  padding: 2px 5px; /* Colocando um padding (preenchimento) em forma de plano (x, y) */
}
/* Estilizando o cabeçalho (opções da direita) */
/* Nav é onde está as opções */
/* Tag <a> é as opções (Home, Formulário, Tabela e Imagem)*/
header nav a {
  display: flex; /* Criar um layout flexível */
  color: #fff; /* Adicionando cor no texto da tag <a> */
  background-color: #6c6c6c; /* Colocando cor de fundo na tag <a>, para a mesma
                               parecer um botão */
  font-weight: bold; /* Definindo a espessura do texto da tag <a> */
  padding: 4px 5px; /* Colocando um padding (preenchimento) em forma de plano (x, y) */
  /* border-radius é usado para arredondar as bordas de um elemento */
  border-radius: 5px; /* Arredondando a tag <a>, para a mesma parecer um botão */
}

/* Criando uma animação nos "botões" de tag <a> */
/* Para criar uma animação, preciso copiar a classe, tag e adiocionar o :hover */
header nav a:hover { /* :hover é um seletor que aplica estilos a um elemento */
  background-color: #990000; /* Trocar a cor de fundo do "botão" para vermelho, 
                               quando o mouse é passado por cima do "botão" */
}

/* Estilizando a unordered-list (ul), que possui a <li>, onde nesse <li> possui as tags <a> */
/* Buscando pela tag 
header nav ul {
  display: flex; /* Criar um layout flexível */
  /* gap é usado para especificar o espaçamento entre linhas e colunas de flexbox ou grid 
 ( onde podem ser usados APENAS).. OBS.: Por isso que ele foi usado, por duas quetões:
 1°--> O display é flex (flexível);
 2°--> Como o gap serve para especificar espaçamento em linhas e colunas, ele é FEITO para 
 a uma lista */
  gap: 12px; /* Colocando um espaçamento  na lista toda */
  list-style: none; /* Alterando o tipo da lista para nada (none) */
}

/* Estilizando a tag <main>, onde contém o texto (tag <p>) da página */
main {
  padding: 20px 12px; /* Colocando um padding (preenchimento) em forma de plano (x, y) */
  /* min-height especifica a altura mínima que um elemento deve ter */
  min-height: 340px;  /* Adicionando um altura mínima na tag main toda (onde está armazenado
                      o texto (tag <p>) */
}

/* Estilizando a tag <p> (buscando ela na tag <main>) */
main p {
  /*margin-bottom  é usado para definir o espaço 
  entre a parte inferior de um elemento e o próximo element0 abaixo dele */
  margin-bottom: 16px; /* Adicionando uma margem inferior (parte de baixo) */
}

/* Estilizando o rodapé da página */
footer {
  padding: 12px 9px; /* Colocando um padding (preenchimento) em fomra de plano (x, y) */
  background-color: #ccc;   /* Colocando uma cor de fundo */
  text-align: center; /* Alinhando o texto no centro */
}
