fieldset {
    margin: 0rem 0 0 0;
    text-align: center;
   
}
input {
    margin: 2rem 0 0 0;

}
.sexo, .estado, .termos_uso, .botao {
    margin: 0rem 0 2rem 0;
}

.botao {
   margin-bottom: 2rem;
}

.geral {
    border: 1px solid red;
    margin: 0 20rem 0 20rem;
    text-align: center;
    
}

input {
    padding: .23rem;
    border-radius: 5rem;
}
