/* CSS do projeto em si daqui para baixo */
/* Estilizando o corpo do site */
body {
  /* Adicionando fonte nas letras do site */
  font-family: sans-serif;
  /* Cor de fundo da página */
  background-color: #f5f5f5;
  /* Cores das letras */
  color: #333;
  /* Dimensão do texto */
  line-height: 1.25;
  /* Fonte das letras do texto */
  font-size: 16px;
}

/* Editar o elemento h1 (título) */
.container h1 {
  /* Deixar o texto no meio da página */
  text-align: center;
  /* Adicionando margem no h1 */
  margin: 3rem 0 3rem 0;
  /* Transformar o texto em maiúsculo */
  text-transform: uppercase;
}

/* Estilizando o nav */
.container nav {
  /* Adicionar margem no elemento nav */
  margin: 0 0 3rem 0;
  /* Alinhando os a's no meio da página */
  text-align: center;
  /* Adicionando um cursor assim que passa o mouse por cima dos a's */
  cursor: pointer;
}


/* Estilizando o li */
.container li {
  /* Colocando o display no li */
  display: inline-block;
  /* Colocando estilo de lista */
  list-style: none;
  /* Transformando todo texto do li em maiúsculo */
  text-transform: uppercase;
  /* Colocando uma borda no li, para ser um estilo de botão */
  border: 1px solid black;
  /* Arredondando um botão */
  border-radius: .25rem;
  /* Colocando um espoaçamento dentro dos "botões" */
  padding: 0.45rem;
  /* Colocando margem nos "botões" */
  margin: 0 2rem 0 2rem;
}

/* Colocando efeito que troca o fundo do a's para branco, assim que mouse é passado por cima */
.container li:hover {
  /* Troca de fundo do a's */
  background-color: #ffff;
}

/* Estilizando o elemento p */
.container p {
  /* Colocando margem no elemento p */
  margin: 10rem 3rem 10rem 3rem;
  
}

footer {
  text-align: right;
  margin: 0 3rem 0;
  background-color: gray;
}